html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESET CSS ABOVE THIS LINE*/


html{
  box-sizing: border-box;
  height: 100vh;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  height: 100%;
}

/*NAV*/

#navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}

#nav-list {
  display: flex;
  gap: 20px;
}

.nav-btn > a {
  text-decoration: none;
}


/*POKEMON PAGE LAYOUT*/ 

#pokemons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: "search-bar"
                       "card-container";

  border: 2px solid red;
}

#search-bar {
  grid-area: search-bar;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}


#card-container  {
  grid-area: card-container;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.card {
  padding: 5px;
  border: 1px solid black;
  min-width: 170px;
  max-width: 170px;
  text-align: center;
  flex:1;
}

.card > figure {
  display: flex;
  justify-content: center;
}



